@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --orange-clr: hsl(192, 100%, 34%);
  --pale-orange-clr: hsl(25, 100%, 94%);
  --very-dark-blue-clr: hsl(220, 13%, 13%);
  --dark-grayish-blue-clr: hsl(219, 9%, 45%);
  --grayish-blue-clr: hsl(220, 14%, 75%);
  --light-grayish-blue-clr: hsl(223, 64%, 98%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
html,
body {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}
html.--overflow-hidden,
body.--overflow-hidden {
  overflow: hidden;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.default-container {
  max-width: 450px;
  margin: 0 auto;
}
.lightbox {
  position: absolute;
  inset: 0%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.icon {
  display: inline-block;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #69707d;
}
.icon-cart {
  mask-image: url(../images/icon-cart.svg);
  -webkit-mask-image: url(../images/icon-cart.svg);
  min-width: 22px;
  min-height: 22px;
}
.icon-close {
  mask-image: url(../images/icon-close.svg);
  -webkit-mask-image: url(../images/icon-close.svg);
  min-width: 17px;
  min-height: 17px;
}
.icon-previous {
  mask-image: url(../images/icon-previous.svg);
  -webkit-mask-image: url(../images/icon-previous.svg);
}
.icon-next {
  mask-image: url(../images/icon-next.svg);
  -webkit-mask-image: url(../images/icon-next.svg);
}
.icon-previous,
.icon-next {
  background-color: black;
  min-width: 15px;
  min-height: 15px;
}
.icon-minus {
  mask-image: url(../images/icon-minus.svg);
  -webkit-mask-image: url(../images/icon-minus.svg);
}
.icon-plus {
  mask-image: url(../images/icon-plus.svg);
  -webkit-mask-image: url(../images/icon-plus.svg);
}
.icon-minus,
.icon-plus {
  min-width: 12px;
  min-height: 12px;
  background-color: var(--orange-clr);
}
.lightbox .icon-close {
  min-width: 22px;
  min-height: 22px;
  background-color: white;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0.75em;
}
.top-header__left {
  overflow-y: visible;
}
.top-header__left,
.top-header__right {
  display: flex;
  align-items: center;
}
.top-header__left {
  padding-left: 0.5em;
}
.top-header__right {
  padding-right: 0.5em;
}
.logo {
  position: relative;
  display: inline-block;
  padding: 0.1em;
  background: url(../images/logo2.svg) no-repeat;
  background-size: contain;
  background-position: left 35%;
}
.logo .invisible {
  opacity: 0;
}
.nav-btn {
  position: relative;
  min-width: 32px;
  margin-right: 0.75em;
  padding: 0.5em;
}
.top-header__btn-cart {
  position: relative;
  margin-right: 0.8em;
}
.top-header__btn-cart.--active .icon {
  background-color: black;
}
.top-header__btn-cart .items-quantity {
  position: absolute;
  top: -25%;
  right: -5%;
  z-index: 2;
  display: inline-block;
  padding: 0.2em 0.75em;
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  background-color: var(--orange-clr);
  color: var(--white-clr);
  font-size: 0.6rem;
  font-weight: 700;
  transition: visibility, opacity 0.3s ease-in;
}
.top-header__btn-cart .items-quantity.active {
  visibility: visible;
  opacity: 1;
}
.user-container {
  min-width: 38px;
}
.user-container img {
  width: 30px;
  border-radius: 50%;
}
.top-header__left .main-nav {
  position: absolute;
  inset: 0%;
  z-index: 5;
  transform: translateX(-200%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-nav__content-container {
  width: 70%;
  height: 100%;
  transform: translateX(-100%);
  z-index: 5;
  background: var(--white-clr);
  transition: transform 0.5s ease-in-out;
  overflow: visible;
}
.main-nav.active,
.main-nav__content-container.active {
  transform: translateX(0%);
}
.main-nav__close-btn {
  padding: 0.5em;
  margin: 1.5em 0 0 1em;
}
.main-nav__links {
  margin-top: 1em;
  padding-left: 0.5em;
  list-style: none;
}
.nav-item {
  position: relative;
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 1.1rem;
}
.nav-btn,
.user-container,
.top-header__btn-cart,
.main-nav__close-btn {
  border: none;
  outline: none;
  background: transparent;
}

.cart-section {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 4;
  opacity: 0;
  width: 95%;
  min-width: 300px;
  max-width: 400px;
  background: var(--white-clr);
  border-radius: 10px;
  box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}
.cart-section.active {
  opacity: 1;
}
.cart-section__title {
  padding: 1.5em;
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 1px var(--grayish-blue-clr);
}
.cart-section__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 190px;
  padding: 0 1.5em;
}
.cart-section__body.--with-items {
  display: block;
  padding: 1.25em 1.5em 2em;
  min-height: auto;
}
.cart-section__body .empty-msg {
  font-weight: 700;
  color: var(--dark-grayish-blue-clr);
}
.cart-section__body .empty-msg.--deactivate {
  display: none;
}
.cart-section__products {
  display: none;
  list-style: none;
}
.cart-section__products.--active {
  display: block;
}
.cart-section__products .list-item {
  --bd-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 18% 72% 10%;
  grid-auto-rows: 65px;
  justify-items: center;
  align-items: center;
  border-radius: var(--bd-radius);
  text-decoration: none;
  background: transparent;
  color: var(--dark-grayish-blue-clr);
}
.cart-section__products .product__thumb {
  border-radius: var(--bd-radius);
  max-height: 100%;
}
.cart-section__products .price-calculation,
.cart-section__products .price-calculation__value,
.price-calculation__value .value__span,
.cart-section__products .price-calculation__final-price,
.cart-section__products .btn-del-product {
  position: relative;
}
.list-item__abstract {
  max-width: 90%;
  padding: 0.2em 0.2em 0.2em 0.5em;
}
.list-item__abstract .title {
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-item__abstract .price-calculation,
.price-calculation__final-price {
  display: inline-block;
  margin-top: 0.5em;
}
.price-calculation__final-price {
  margin-left: 0.5em;
  color: var(--black-clr);
  font-weight: 700;
}
.cart-section__products .btn-del-product {
  height: max-content;
  width: max-content;
  padding: 0.5em;
  margin-right: -0.5em;
  border: none;
  background: transparent;
}
.value__span,
.final-price__span {
  margin-left: -0.2em;
}
.cart-section__btn-checkout {
  display: none;
  width: 100%;
  padding: 1.15em;
  margin-top: 1.15em;
  border: none;
  border-radius: 10px;
  background-color: var(--orange-clr);
  color: var(--white-clr);
  font-weight: 700;
}
.cart-section__btn-checkout.--active {
  display: block;
}
.cart-section__body .cart-section__btn-checkout.--active {
  min-height: auto;
}
.product__content {
  padding: 1.2em;
}
.product {
  padding-bottom: 3em;
}
.product__slider {
  --bd-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__slider.--lightbox-active {
  justify-content: center;
  max-width: 580px;
  padding-top: 3em;
}
.product__slider___btn-close-lightbox {
  display: none;
  position: absolute;
  top: 0%;
  right: 1em;
  z-index: 7;
  padding: 0.5em 1em;
  background: transparent;
  border: none;
}
.product__slider.--lightbox-active .product__slider___btn-close-lightbox {
  display: inline-block;
}
.product__slider .image-box {
  position: relative;
  overflow: hidden;
}
.product__thumbs {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
  list-style: none;
  max-height: 100%;
  box-sizing: border-box;
}
.product__slider.--lightbox-active .product__thumbs {
  padding: 0 2em;
}
.product__slider.--lightbox-active .image-box,
.product__slider.--lightbox-active .product__thumbs {
  max-width: 100%;
  overflow: visible;
}
.product__thumbs .thumb-item {
  display: inline-block;
  width: 20%;
}
.thumb-item__btn {
  padding: 0;
  border: none;
  border-radius: var(--bd-radius);
  overflow: hidden;
}
.thumb-item__btn.--selected {
  outline: solid 2px var(--orange-clr);
}
.thumb-item__btn.--selected img {
  opacity: 0.5;
}
.image-box__src {
  margin-top: -30px;
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity 0.2s ease-in-out;
}
.image-box__src.--changed {
  visibility: hidden;
  opacity: 0;
}
.product__slider.--lightbox-active .image-box__src {
  max-width: 100%;
}
.product__slider .btn-previousImage,
.product__slider .btn-nextImage {
  --side-space: 5%;
  position: absolute;
  top: 50%;
  z-index: 3;
  padding: 0.7em 0.8em;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background-color: var(--white-clr);
}
.product__slider.--lightbox-active .btn-previousImage,
.product__slider.--lightbox-active .btn-nextImage {
  --side-space: -4%;
  display: block;
  padding: 1.1em 1.15em;
}
.product__slider .btn-previousImage {
  left: var(--side-space);
}
.product__slider .btn-nextImage {
  right: var(--side-space);
}

.product__content .company-name {
  margin-bottom: 1em;
  color: hsl(26, 80%, 55%);
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product__name {
  display: none;
}
.product__title {
  font-size: 1.72rem;
}
.product__description {
  margin: 1.2em 0 2em;
  color: var(--dark-grayish-blue-clr);
  line-height: 1.5em;
  font-size: 0.95rem;
}
.product__price,
.product__price .discount-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discount-price__value {
  font-size: 1.7rem;
  font-weight: 700;
}
.discount-price__discount {
  margin-left: 1em;
  padding: 0.25em 0.45em;
  background-color: hsl(26, 80%, 92%);
  color: hsl(26, 80%, 55%);
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
}
.product__price .full-price {
  position: relative;
  width: max-content;
  text-decoration: line-through;
  color: var(--grayish-blue-clr);
  font-weight: 700;
}
.product__content .cart-form {
  --bd-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  font-size: 0.97rem;
}
.cart-form__input-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  background-color: var(--light-grayish-blue-clr);
  overflow: hidden;
  border-radius: var(--bd-radius);
  box-sizing: border-box;
}
#product__quantity {
  position: relative;
  padding: 1em 0.8em;
  max-width: 35%;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: inherit;
  appearance: textfield;
}
#product__quantity::-webkit-outer-spin-button,
#product__quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#product__quantity:focus {
  outline: none;
}
.cart-form__add-btn {
  display: flex;
  justify-content: center;
  padding: 1.15em 1em;
  min-width: 109px;
  color: var(--white-clr);
  background-color: var(--orange-clr);
  font-weight: 700;
  border: none;
  border-radius: var(--bd-radius);
}
.cart-form__add-btn .icon-cart {
  min-width: 18px;
  min-height: 18px;
  margin-right: 1em;
  background-color: white;
}
.cart-form__input-container .btn-changeValue {
  position: relative;
  background: inherit;
  max-height: max-content;
  padding: 0.5em 1em;
  border: none;
}

.user-container:focus img {
  outline: solid 2px var(--orange-clr);
}
.thumb-item__btn:focus img {
  opacity: 0.5;
}
.nav-item:focus {
  color: black;
  outline: none;
}
.nav-item:focus::after {
  background-color: var(--orange-clr);
}
.cart-form__add-btn:active,
.btn-changeValue:active .icon {
  opacity: 0.7;
}
.btn-nextImage:active .icon,
.btn-previousImage:active .icon,
.product__slider___btn-close-lightbox:active .icon {
  background-color: var(--orange-clr);
}
@media (hover: hover) and (pointer: fine) {
  .user-container:hover img {
    outline: solid 2px var(--orange-clr);
  }
  .cart-form__add-btn:hover,
  .cart-form__add-btn:focus,
  .btn-changeValue:focus .icon,
  .btn-changeValue:hover .icon {
    opacity: 0.7;
  }
  .btn-nextImage:focus .icon,
  .btn-previousImage:focus .icon,
  .product__slider___btn-close-lightbox:focus .icon {
    background-color: var(--orange-clr);
  }
  .thumb-item__btn:hover img {
    opacity: 0.5;
  }
  .btn-nextImage:hover .icon,
  .btn-previousImage:hover .icon,
  .product__slider___btn-close-lightbox:hover .icon {
    background-color: var(--orange-clr);
  }
  .nav-item:hover {
    color: black;
    outline: none;
  }
  .nav-item:hover::after {
    background-color: var(--orange-clr);
  }
}
@media screen and (min-width: 455px) {
  .product__slider .image-box,
  .image-box__src {
    border-radius: var(--bd-radius);
  }
}
@media screen and (min-width: 576px) {
  .top-header {
    padding-left: 3em;
    padding-right: 3em;
  }
  .main-nav__content-container {
    width: 55%;
  }
  .product__slider .btn-previousImage,
  .product__slider .btn-nextImage {
    display: none;
  }
  .product__thumbs {
    display: flex;
  }
  .product__content {
    margin-top: 1em;
  }
}
@media screen and (min-width: 768px) {
  .default-container {
    max-width: 580px;
  }
  .main-nav__content-container {
    width: 40%;
  }
  .top-header {
    padding-top: 1em;
  }
  .top-header__btn-cart {
    margin-right: 1.5em;
  }
  .user-container img {
    width: 40px;
  }
  .cart-form__add-btn .icon-cart {
    min-width: 20px;
    min-height: 20px;
  }
  .cart-section__body.--with-items {
    padding: 1.25em 1em 2em;
  }
  .cart-section__products .list-item {
    grid-template-columns: 17% 65% 10%;
    grid-auto-rows: 70px;
    justify-content: center;
  }
  .list-item__abstract {
    align-self: start;
    font-size: 1.05rem;
    padding: 0.2em 0;
  }
  .list-item__abstract .title {
    margin-bottom: 0.1em;
  }
  .cart-section__products .btn-del-product {
    margin: -10px 0 0;
  }
  .product {
    --max-width-box: 455px;
  }
  .image-box__src,
  .product__thumbs {
    max-width: var(--max-width-box);
  }
  .product__title {
    margin-top: 0.55em;
    font-size: 2rem;
  }
  .product__content .company-name {
    font-size: 0.85rem;
  }
  .product__description {
    font-size: 1.15rem;
  }
  .product__price {
    flex-direction: column;
    align-items: flex-start;
  }
  .product__price .full-price {
    margin-top: 0.5em;
    font-size: 1.05rem;
  }
  .product__content .cart-form {
    flex-direction: row;
    justify-content: space-between;
  }
  .cart-form__input-container {
    margin-bottom: 0;
    width: 40%;
  }
  #product__quantity {
    padding: 1em 0;
    max-width: 10%;
  }
  .cart-form__add-btn {
    width: 57%;
  }
}
@media screen and (min-width: 992px) {
  .default-container {
    margin: 0;
  }
  body {
    --max-width: 85%;
  }
  .top-header {
    max-width: var(--max-width);
    margin: 0 auto 3.5em;
    padding: 1.5em 0 2em;
    border-bottom: solid 1px rgba(241, 241, 241, 0.945);
  }
  .top-header__left,
  .top-header__right {
    margin: 0;
    padding: 0;
  }
  .nav-btn {
    display: none;
  }
  .top-header__left .main-nav {
    display: inline-block;
    position: static;
    padding-left: 2em;
  }
  .main-nav__links {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .nav-item {
    color: var(--dark-grayish-blue-clr);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 0;
  }
  .nav-item::after {
    content: "";
    position: relative;
    top: 2.3em;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.5s ease-in;
  }
  .top-header__left .main-nav,
  .main-nav__content-container {
    transform: none;
    height: auto;
    width: auto;
    z-index: auto;
    background-color: transparent;
  }
  .main-nav__close-btn {
    display: none;
  }
  .cart-section {
    right: 0%;
    left: 0%;
    transform: translateX(calc(100vw - 400px - 3em));
  }
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    justify-items: center;
    margin: 0 auto;
    max-width: var(--max-width);
    box-sizing: border-box;
  }
  .product__content {
    align-self: center;
  }
  .product__thumbs {
    margin-top: 2em;
  }
  .image-box__src {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    column-gap: 5em;
    --max-width-box: 457px;
    margin-bottom: 1em;
  }
  .product__content .company-name {
    font-size: 0.9rem;
  }
  .product__title {
    font-size: 2.75rem;
  }
  .discount-price__value {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1400px) {
  body {
    --max-width: 80%;
  }
  .main-nav__links li {
    margin-right: 0.75em;
  }
  .user-container img {
    width: 50px;
  }
  .top-header__btn-cart {
    margin-right: 2em;
  }
  .product {
    --max-width: 78%;
  }
  .product__slider {
    justify-self: end;
    padding: 2em;
    box-sizing: border-box;
  }
  .product__content {
    justify-self: start;
    margin-top: -5%;
  }
  .product__content .cart-form {
    margin-top: 2.85em;
  }
  .cart-form__input-container {
    width: 35%;
  }
  .cart-form__add-btn {
    width: 60%;
  }
}
@media screen and (min-width: 1900px) {
  body {
    --max-width: 85%;
  }
  .product__slider.--lightbox-active {
    max-width: 625px;
  }
}
