<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red store | Ecommerce Website Design</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <a href="index.html">
              <img src="assets/images/logo2.svg" alt="" width="125px"
            /></a>
          </div>
          <img
            src="assets/images/menu.png"
            alt=""
            class="menu-icon"
            onclick="menutoggle()"
          />
        </div>
        <div class="row">
          <div class="col-2">
            <p>
              Kualitas Pilihan, Kenyamanan Belanja Sejati.<br />
              Rekomendasi barang-barang terbaik dan berkelas!
            </p>
          </div>
          <div class="col-2">
            <img src="./assets/images/image1.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!----- Featured Products--------->
    <div class="small-container">
      <h2 class="title">Produk Terbaru</h2>
      <div class="row" id="products">
        {{range .Products}}
        <div class="col-4">
          <a href="product?id={{.ID}}">
            <img src="{{.Image}}" alt="{{.ProductName}}" />
            <h4>{{.ProductName}}</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </a>
        </div>
        {{end}}
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-2">
            <img src="./assets/images/logo-white.png" alt="" />
            <p>
              Temukan rekomendasi produk terbaru dan termurah <br />
              Hanya di KitaShop!
            </p>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright" id="copyright-text">Copyright 2020 - introidx</p>
      </div>
    </div>

    <!-- scripts -->
    <script src="assets/js/toggleMenu.js"></script>
    <script src="assets/js/loadProducts.js"></script>
  </body>
</html>
